article.tweet {
  border: 1.5px solid lightgrey;
  border-radius: 5px;
  margin: 20px 2em 20px 2em;
  overflow:hidden;
}


article.tweet header {
  background-color: #f9f9f9;
}


article.tweet #fullname {
  vertical-align: top;
  line-height: 2;
  font-size: 24px;
  font-weight: bold;
  color: grey;
}


article.tweet #handle {
  line-height: 4;
  font-size: 14px;
  color: grey;
  padding-right: 5px;
  float: right;
}


article.tweet .profile_pic {
  width: 60px;
  height: 60px;
  margin: 10px 8px 10px 8px;
  border-radius: 5px;
}

article.tweet #tweet_text {
  padding: 10px;
}


article.tweet footer {
  border-top: 1px solid #eee;
  padding: 10px;
}


article.tweet #flag {
  width: 20px;
  height: 20px;
}

article.tweet #retweet {
  width: 20px;
  height: 20px;
}

article.tweet #like {
  width: 20px;
  height: 20px;
}


article.tweet #icons {
  display: none;
  float: right;
}





